<header
  class="flex max-w-[1300px] mx-auto justify-between p-4 items-center sticky top-0 bg-white rounded-xl mt-1 z-[100] shadow-md"
>
  <a routerLink="" class="font-semibold text-xl">dev_snake</a>

  <ul class="hidden md:flex gap-2">
    <li>
      <a routerLink="" class="p-4 text-[1.1rem] font-semibold">Trang chủ</a>
    </li>
    <li>
      <a routerLink="/products" class="p-4 text-[1.1rem] font-semibold"
        >Sản phẩm
      </a>
    </li>
    <li>
      <a routerLink="/news" class="p-4 text-[1.1rem] font-semibold">Tin tức</a>
    </li>
  </ul>
  <div>
    <i
      class="bx bx-search p-2 bg-[#eee] mr-2 rounded-xl font-medium hover:cursor-pointer"
      (click)="toggleSearch()"
    ></i>
    <a routerLink="cart">
      <i
        class="bx bx-cart-alt p-2 bg-[#eee] mr-2 rounded-xl font-medium hover:cursor-pointer"
      ></i
    ></a>
    <i
      class="bx bx-user p-2 bg-[#eee] rounded-xl font-medium hover:cursor-pointer"
      (click)="toggle()"
      #userBox
    ></i>
  </div>
  <div
    class="absolute right-0 bg-white top-20 p-4 rounded-md z-[100] hidden shadow-md transition-all duration-300"
    #showToast
  >
    @if(isLoggedIn()){
    <a
      routerLink=""
      class="block px-2 py-1 mb-1 capitalize font-semibold tracking-[1.6px] text-[#ff0000]"
      (click)="logout()"
      >Đăng xuất</a
    >
    <a
      routerLink="profile"
      class="block px-2 py-1 capitalize font-semibold tracking-[1.6px]"
      >Hồ sơ</a
    >
    }@else {
    <a
      routerLink="login"
      class="block px-2 py-1 mb-1 capitalize font-semibold tracking-[1.6px]"
      (click)="logout()"
      >Đăng Nhập</a
    >
    <a
      routerLink="regsiter"
      class="block px-2 py-1 capitalize font-semibold tracking-[1.6px]"
      >Đăng kí</a
    >
    }
  </div>
  <div
    class="absolute top-20 right-2 bg-slate-50 p-2 rounded-xl shadow-sm hidden transition-all duration-300 ease-in-out"
    #showSearch
  >
    <input
      type="text"
      class="p-2 outline-none rounded-xl mr-2 shadow-xl w-60"
      placeholder="Mày cần tìm gì ?"
      #searchInput
    />
    <i
      class="bx bx-search inline-block p-2 bg-blue-500 text-white rounded-xl cursor-pointer"
      (click)="sendDatatoService(searchInput.value)"
    ></i>
  </div>
</header>
<div
  class="shadow-2xl fixed left-1/2 transform -translate-x-1/2 w-full bottom-2 z-[1000] p-2 rounded-lg bg-white flex items-center justify-center gap-2 sm:hidden"
>
  <ul class="flex p-2 gap-10 text-[1rem] font-medium">
    <li class="grid place-items-center">
      <i class="bx bx-home text-blue-500" #icon_home></i
      ><a routerLink="" #Tab (click)="activeTabHome()" class="text-blue-500"
        >Trang chủ</a
      >
    </li>
    <li class="grid place-items-center">
      <i class="bx bxs-keyboard" #icon_keyboard></i
      ><a routerLink="/products" (click)="activeTabProducts()" #tab_products
        >Sản phẩm
      </a>
    </li>
    <li class="grid place-items-center">
      <i class="bx bx-news"></i><a routerLink="/news">Tin tức </a>
    </li>
    <li class="grid place-items-center">
      <i class="bx bxs-user-account"></i><a routerLink="/profile">Tài khoản </a>
    </li>
  </ul>
</div>
