<div>
  <select
    class="p-2 border rounded float-right mr-6 outline-none"
    (change)="filterSatatus($event)"
  >
    <option value="99">Tất cả</option>
    <option value="0">Đang chờ xử lí</option>
    <option value="1">Đã xác nhận</option>
    <option value="2">Đã hủy</option>
    <option value="3">Đang vận chuyển</option>
  </select>
  <table class="w-full text-center mt-4 relative">
    <thead>
      <tr>
        <th class="p-2">Mã đơn hàng</th>
        <th class="p-2">Người đặt</th>
        <th class="p-2">Ngày đặt</th>
        <th class="p-2">Trạng thái</th>
        <th class="p-2">Xác nhận</th>
        <th class="p-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="p-3">{{ order.code }}</td>
        <th>{{ order.userOrder }}</th>
        <td class="p-3">{{ order.date }}</td>
        <td class="p-3 max-md:hidden">
          <span
            [ngClass]="
              order.status === 0
                ? 'bg-yellow-100 text-orange-500 p-2 rounded-2xl font-semibold'
                : order.status === 1
                ? 'bg-green-100 text-green-500 p-2 rounded-2xl font-semibold'
                : order.status === 2
                ? 'bg-red-100 text-red-500 p-2 rounded-2xl font-semibold'
                : 'bg-blue-100 text-blue-500 p-2 rounded-2xl font-semibold'
            "
            >{{
              order.status === 0
                ? "Đang chờ xử lí"
                : order.status === 1
                ? "Đã xác nhận"
                : order.status === 2
                ? "Đã hủy"
                : "Đang Vận chuyển"
            }}</span
          >
        </td>
        <td>
          <label class="inline-flex items-center cursor-pointer">
            <input
              type="checkbox"
              value=""
              class="sr-only peer"
              (change)="onCheckboxChange($event, order.code)"
            />
            <div
              class="relative w-14 h-7 bg-slate-100 peer-focus:outline-none rounded-full peer dark:bg-slate-200 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-white after:border after:rounded-full after:h-6 after:w-6 after:transition-all peer-checked:bg-green-400"
            ></div>
          </label>
        </td>
        <td class="p-3 relative">
          <a
            [routerLink]="['/admin/manage-orders/', order.code, 'order-detail']"
            class="p-2 rounded-xl inline-block cursor-pointer"
            ><i
              class="fa-solid fa-eye bg-blue-400 p-2 rounded-xl text-white"
            ></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
