<section class="max-w-[1300px] mx-auto mb-20">
  <form
    [formGroup]="registerForm"
    class="max-w-[500px] mx-auto mt-28 bg-white p-6 rounded-2xl"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="uppercase font-semibold text-2xl text-center mb-4">
      Đăng Kí tài khoản
    </h2>
    <div class="mb-2">
      <label for="" class="font-medium tracking-[1.6px] p-2">Họ*</label>
      <input
        type="text"
        class="w-full border-2 p-2 rounded-xl outline-none outline-2 outline-offset-2 focus:outline-blue-500 transition-all duration-300 ease-in-out"
        formControlName="lastName"
      />
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['lastName'].invalid &&
          (registerForm.controls['lastName'].touched ||
            registerForm.controls['lastName'].dirty)
        "
      >
        Họ không được để trống
      </div>
    </div>
    <div class="mb-2">
      <label for="" class="font-medium tracking-[1.6px] p-2">Tên *</label>
      <input
        type="text"
        class="w-full border-2 p-2 rounded-xl outline-none outline-2 outline-offset-2 focus:outline-blue-500 transition-all duration-300 ease-in-out"
        formControlName="firstName"
      />
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['firstName'].invalid &&
          (registerForm.controls['firstName'].touched ||
            registerForm.controls['firstName'].dirty)
        "
      >
        Tên không được để trống
      </div>
    </div>
    <div class="mb-2">
      <label for="" class="font-medium tracking-[1.6px] p-2">Email *</label>
      <input
        type="email"
        class="w-full border-2 p-2 rounded-xl outline-none outline-2 outline-offset-2 focus:outline-blue-500 transition-all duration-300 ease-in-out"
        formControlName="email"
      />
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['email'].invalid &&
          registerForm.controls['email'].touched &&
          registerForm.controls['email'].dirty &&
          registerForm.controls['email'].errors?.['email']
        "
      >
        Nhập đúng định dạng email
      </div>
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['email'].invalid &&
          (registerForm.controls['email'].touched ||
            registerForm.controls['email'].dirty) &&
          !registerForm.controls['email'].errors?.['email']
        "
      >
        Email không được để trống
      </div>
    </div>
    <div class="mb-2">
      <label for="" class="font-medium tracking-[1.6px] p-2">Username*</label>
      <input
        type="text"
        class="w-full border-2 p-2 rounded-xl outline-none outline-2 outline-offset-2 focus:outline-blue-500 transition-all duration-300 ease-in-out"
        formControlName="username"
      />
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['username'].invalid &&
          (registerForm.controls['username'].touched ||
            registerForm.controls['username'].dirty )&&
            registerForm.controls['username'].errors?.['required']
        "
      >
        Username không được để trống
      </div>
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['username'].invalid &&
          registerForm.controls['username'].errors?.['minlength']"
      >
        Username phải lớn hơn 6 ký tự
      </div>
    </div>
    <div class="mb-4">
      <label for="" class="font-medium tracking-[1.6px] p-2">Password*</label>
      <input
        type="password"
        class="w-full border-2 p-2 rounded-xl outline-none outline-2 outline-offset-2 focus:outline-blue-500 transition-all duration-300 ease-in-out mb-2"
        formControlName="password"
      />
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1"
        *ngIf="
          registerForm.controls['password'].invalid &&
          (registerForm.controls['password'].touched ||
            registerForm.controls['password'].dirty)
            && registerForm.controls['password'].errors?.['required']
        "
      >
        Password không được để trống
      </div>
      <div
        class="ml-1 text-[#ff0000] font-medium text-sm pt-1 transition-all duration-300 ease-in-out"
        *ngIf="
        registerForm.controls['password'].invalid &&
        registerForm.controls['password'].errors?.['minlength']"
      >
        Password Tối thiểu 8 ký tự
      </div>
    </div>
    <button
      class="p-2 rounded-xl bg-[#2e86f1] text-white uppercase font-medium w-full"
      type="submit"
    >
      Đăng Kí
    </button>
  </form>
</section>
