<div class="">
  <p class="text-xl font-semibold">Thông tin tài khoản</p>
  <div class="p-2">
    <form
      [formGroup]="updateAccount"
      (ngSubmit)="updateUser()"
      class="max-w-[500px] mx-auto"
    >
      <div class="flex items-center gap-10 justify-between mb-2">
        <label for="" class="text-[1rem] font-medium max-md:hidden"
          >Họ :
        </label>
        <input
          type="text"
          class="border-2 p-2 rounded-xl md:max-w-[350px] w-full"
          formControlName="lastname"
        />
      </div>
      <div class="flex items-center gap-10 justify-between">
        <label for="" class="text-[1rem] font-medium max-md:hidden"
          >Tên :
        </label>
        <input
          type="text"
          class="border-2 p-2 rounded-xl md:max-w-[350px] w-full"
          formControlName="firstname"
        />
      </div>
      <div class="flex gap-10 mt-2">
        <label for="" class="text-[1rem] font-medium max-md:hidden"
          >Giới tính :
        </label>
        <div class="flex gap-10 ml-10">
          <div class="flex items-center gap-2">
            <label for="male">Nam</label>
            <input type="radio" formControlName="sex" value="1" />
          </div>
          <div class="flex items-center gap-2">
            <label for="female">Nữ</label>
            <input type="radio" formControlName="sex" value="0" />
          </div>
        </div>
      </div>
      <div class="mt-2 flex gap-10 items-center justify-between">
        <label for="phonenumber" class="text-[1rem] font-medium max-md:hidden"
          >Số điện thoại</label
        >
        <input
          type="text"
          class="border-2 p-2 rounded-xl md:max-w-[350px] w-full"
          formControlName="phonenumber"
        />
      </div>
      <div class="mt-2 flex gap-10 items-center justify-between">
        <label for="email" class="text-[1rem] font-medium max-md:hidden"
          >Email :
        </label>
        <input
          type="email"
          class="border-2 p-2 rounded-xl md:max-w-[350px] w-full"
          formControlName="email"
        />
      </div>
      <div class="mt-2 flex gap-10 items-center justify-between">
        <label for="email" class="text-[1rem] font-medium max-md:hidden"
          >Địa chỉ :
        </label>
        <input
          type="email"
          class="border-2 p-2 rounded-xl md:max-w-[350px] w-full"
          formControlName="address"
        />
      </div>
      <div class="mt-2 flex gap-10 items-center justify-between">
        <label for="dateOfBirth" class="text-[1rem] font-medium max-md:hidden"
          >Ngày sinh</label
        >
        <div class="md:w-[70%] flex justify-between w-full gap-2">
          <select
            formControlName="day"
            id=""
            class="border-2 p-2 rounded-xl outline-none w-full"
          >
            <option value="">Ngày</option>
            <option *ngFor="let date of getDaysArray()" [value]="date">
              {{ date }}
            </option>
          </select>
          <select
            formControlName="month"
            id=""
            class="border-2 p-2 rounded-xl outline-none w-full"
          >
            <option value="">Tháng</option>
            <option *ngFor="let month of getMonthsArray()" [value]="month">
              {{ month }}
            </option>
          </select>
          <select
            formControlName="years"
            id=""
            class="border-2 p-2 rounded-xl outline-none w-full"
          >
            <option value="">Năm</option>
            <option *ngFor="let year of getYearsArray()" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>
      </div>
      <div class="md:ml-2 w-full">
        <button
          class="bg-blue-400 p-2 rounded-xl text-white font-semibold md:w-52 mt-2 md:ml-36 cursor-pointer w-full"
          type="submit"
          [disabled]="updateAccount.invalid"
        >
          Lưu thay đổi
        </button>
      </div>
    </form>
  </div>
</div>
