<div>
  <div class="p-4">
    <div class="flex justify-between items-center h-10">
      <div class="flex items-center gap-4 p-2 bg-slate-50 basis-72 rounded-md">
        <input
          type="text"
          placeholder="Tìm kiếm mã voucher"
          class="p-2 outline-none border basis-72 rounded-sm h-full"
          (input)="searchVoucher($event)"
        />
        |
        <i class="bx bx-search p-2 cursor-pointer"></i>
      </div>
      <button
        class="p-2 bg-blue-500 text-white rounded-xl font-medium h-full"
        (click)="openModal()"
      >
        Tạo Voucher
      </button>
    </div>
  </div>
  <table class="w-full text-center mt-4 relative">
    <thead>
      <tr>
        <th class="p-2">Mã Voucher</th>
        <th class="p-2">Ngày Hết hạn</th>
        <th class="p-2">Giới hạn</th>
        <th class="p-2">Đã dùng</th>
        <th class="p-2">Đã đổi</th>
        <th class="p-2">% Giảm giá</th>
        <th class="p-2">Trạng thái</th>
        <th class="p-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voucher of vouchers">
        <td class="p-3">
          {{ voucher.code }}
          <i
            class="bx bx-copy bg-slate-100 p-2 rounded-2xl cursor-pointer"
            (click)="copyCode(voucher.code)"
          ></i>
        </td>
        <!-- <td class="p-3">
          {{ voucher.createdAt }}
        </td> -->
        <td class="p-3 text-nowrap overflow-hidden">
          {{ voucher.expiredDate }}
        </td>
        <td class="p-3">{{ voucher.limitQuantity }}</td>
        <td class="p-3">{{ voucher.quantityUsed }}</td>
        <td class="p-3">
          {{ voucher.quantityExchanged }}
        </td>
        <td class="p-3">{{ voucher.discount }}</td>
        <td class="p-3">
          <span
            class="p-2 rounded-full font-semibold"
            [ngClass]="{
              'text-green-500 bg-green-100': voucher.status === 1,
              'text-red-500 bg-red-100':
                voucher.limitQuantity === voucher.quantityUsed
            }"
            >{{
              voucher.limitQuantity === voucher.quantityUsed
                ? "Hết mã"
                : "Còn mã"
            }}</span
          >
        </td>
        <td class="p-3">
          <i
            class="fa-solid fa-trash bg-red-400 p-2 rounded-xl text-white cursor-pointer"
            (click)="deleteVoucher(voucher._id)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div #formVoucher class="hidden">
    <app-add-voucher (voucherData)="addVoucher($event)"></app-add-voucher>
  </div>
</div>
