<section class="max-w-[1300px] mx-auto mt-4">
  <div class="max-sm:p-4">
    <div class="w-full bg-white p-4 rounded-2xl sm:flex sm:gap-20">
      <div class="p-2">
        <img
          [src]="product?.image"
          alt=""
          class="w-full rounded-2x p-4 shadow-md rounded-2xl sm:max-h-[450px]"
        />
      </div>
      <div class="mt-4 max-w-[600px]">
        <div>
          <h2 class="uppercase font-semibold text-2xl">{{ product?.name }}</h2>
          <p class="mt-4 uppercase font-semibold text-xl">
            Giá sản phẩm :
            <strong class="text-[red] font-medium"
              >{{ product?.price }} ₫</strong
            >
          </p>
          <hr class="mt-4" />
          <p class="font-semibold text-xl">
            {{ product?.title_description_1 }}
          </p>
          <p class="font-semibold mt-4">{{ product?.title_description_2 }}</p>
          <p class="mt-4">
            {{ product?.description }}
          </p>
        </div>
        <div class="mt-4">
          <input
            type="number"
            class="transition-all rounded-xl p-3 shadow-md focus:outline-none focus:ring focus:ring-blue-400"
            min="1"
            value="1"
            #quantity
          />
          <button
            class="bg-[#2e86f1] p-3 text-white rounded-xl ml-4 focus:ring"
            (click)="product && addToCart(product, +quantity.value)"
          >
            Thêm vào giỏ hàng
          </button>
        </div>
      </div>
    </div>
    <form
      class="mt-4 bg-slate-100 p-4 rounded-xl shadow-md"
      [formGroup]="formComment"
      (ngSubmit)="onSubmit()"
    >
      <p class="font-semibold text-2xl">Bình luận</p>
      <div class="mt-4">
        <textarea
          class="w-full p-3 rounded-xl shadow-md focus:outline-none focus:ring focus:ring-blue-400 mt-4"
          placeholder="Nhập bình luận của bạn"
          formControlName="content"
        ></textarea>
        <button
          class="bg-[#2e86f1] p-3 text-white rounded-xl mt-4 focus:ring cursor-pointer"
          type="submit"
          [disabled]="formComment.invalid"
        >
          Gửi bình luận
        </button>
      </div>
      <div class="rounded-xl mt-4">
        @for (item of commentList; track $index) {
        <div class="bg-white p-2 rounded-xl mt-2">
          <p class="font-bold text-[1rem] py-1">{{ item.username_customer }}</p>
          <p>content: {{ item.content }}</p>
        </div>
        }
      </div>
    </form>
  </div>
</section>
