<footer class="w-full mt-4 bg-white p-8">
  <div class="max-w-[1300px] mx-auto">
    <div class="sm:flex justify-between">
      <div class="mt-4">
        <a href="" class="uppercase font-semibold">hauDg</a>
        <p class="mt-2">Chào mừng đến tới website của tôi</p>
        <div class="mt-2">
          <i
            class="bx bxl-youtube bx-tada bx-rotate-90 text-3xl p-2 bg-slate-50 rounded-full mr-2 shadow-md"
          ></i>
          <i
            class="bx bxl-instagram bx-tada bx-rotate-90 text-3xl p-2 bg-slate-50 rounded-full mr-2"
          ></i>
          <i
            class="bx bxl-facebook-circle bx-tada bx-rotate-90 text-3xl p-2 bg-slate-50 rounded-full mr-2"
          ></i>
          <i
            class="bx bxl-tiktok bx-tada bx-rotate-90 text-3xl p-2 bg-slate-50 rounded-full mr-2"
          ></i>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="uppercase font-semibold mt-2 mb-2 text-xl">
          Thông tin và chính sách
        </h2>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
      </div>
      <div class="mt-2">
        <h2 class="uppercase font-semibold mt-2 mb-2 text-xl">
          dịch vụ cửa hàng
        </h2>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
      </div>
      <div class="mt-2">
        <h2 class="uppercase font-semibold mt-2 mb-2 text-xl">
          thông tin liên hệ
        </h2>
        <p class="leading-8">Địa chỉ : 1128 Refto Road</p>
        <p class="leading-8">Số điện thoại : (607) 298-6557</p>
        <p class="leading-8">Email : ebninujiviz.sn</p>
        <p class="leading-8">Lorem ipsum dolor, sit amet cons</p>
      </div>
    </div>
  </div>
</footer>
