<section class="max-w-[1300px] mt-2 mx-auto mb-10">
  <form
    *ngIf="paymentForm"
    class="w-full grid sm:grid-cols-2 gap-10 mt-10 max-sm:p-4"
    [formGroup]="paymentForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="w-full">
      <h2 class="uppercase font-semibold text-xl mb-4">Thông tin thanh toán</h2>
      <div>
        <div class="grid grid-cols-2 gap-5">
          <div>
            <label for="" class="font-medium tracking-wider">Tên*</label>
            <input
              type="text"
              class="w-full p-2 rounded-xl outline-none focus:ring mt-2"
              formControlName="firstname"
            />
          </div>
          <div>
            <label for="" class="font-medium tracking-wider">Họ*</label>
            <input
              type="text"
              class="w-full p-2 rounded-xl outline-none focus:ring mt-2"
              formControlName="lastname"
            />
          </div>
        </div>
        <div class="mt-4">
          <label for="" class="font-medium tracking-wider">Địa chỉ*</label>
          <input
            type="text"
            class="w-full p-2 rounded-xl outline-none focus:ring mt-2"
            formControlName="address"
          />
        </div>
        <div class="mt-4">
          <label for="" class="font-medium tracking-wider"
            >Số điện thoại *</label
          >
          <input
            type="text"
            class="w-full p-2 rounded-xl outline-none focus:ring mt-2"
            formControlName="phonenumber"
          />
        </div>
        <div class="mt-4">
          <label for="" class="font-medium tracking-wider"
            >Địa chỉ Email *</label
          >
          <input
            type="email"
            class="w-full p-2 rounded-xl outline-none focus:ring"
            formControlName="email"
          />
        </div>
      </div>
    </div>
    <div>
      <h2 class="uppercase font-semibold text-xl mb-4">Đơn hàng của bạn</h2>
      <div class="bg-slate-100 p-8 rounded-2xl shadow-md">
        @for (item of cartList; track $index) {
        <div class="flex justify-between">
          <p>
            {{ item.name }} <strong class="ml-3"> × {{ item.quantity }}</strong>
          </p>
          <p>{{ item.price }} ₫</p>
        </div>
        }
        <div class="flex justify-between mt-4">
          <p><strong>Tạm tính</strong></p>
          <p>
            <strong class="tracking-[1.6px] text-[1rem]">{{ total }} ₫</strong>
          </p>
        </div>
        <div class="flex justify-between mt-4">
          <p><strong>Tổng</strong></p>
          <p>
            <strong class="tracking-[1.6px] text-[1rem]">{{ total }} ₫</strong>
          </p>
        </div>
        <div>
          <fieldset>
            <legend class="text-base font-semibold text-slate-900">
              Payment method
            </legend>
            <div class="mt-4 space-y-2">
              <label
                for="apple"
                class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-900 has-[:checked]:bg-indigo-50 grid grid-cols-[24px_1fr_auto] items-center gap-6 rounded-lg p-4 ring-1 ring-transparent hover:bg-slate-100"
                ><i class="fa-solid fa-money-bill"></i>
                Thanh toán khi nhận hàng
                <input
                  id="apple"
                  value="google"
                  type="radio"
                  class="box-content h-1.5 w-1.5 appearance-none rounded-full border-[5px] border-white bg-white bg-clip-padding outline-none ring-1 ring-gray-950/10 checked:border-indigo-500 checked:ring-indigo-500"
                  formControlName="paymentMethod"
                />
              </label>
              <label
                for="google"
                class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 grid grid-cols-[24px_1fr_auto] items-center gap-6 rounded-lg p-4 ring-1 ring-transparent hover:bg-slate-100"
              >
                <i class="fa-brands fa-apple-pay text-xl font-semibold"></i>
                Apple Pay
                <input
                  id="google"
                  value="apple"
                  type="radio"
                  class="box-content h-1.5 w-1.5 appearance-none rounded-full border-[5px] border-white bg-white bg-clip-padding outline-none ring-1 ring-gray-950/10 checked:border-indigo-500 checked:ring-indigo-500"
                  formControlName="paymentMethod"
                />
              </label>
              <label
                for="credit-card"
                class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 grid grid-cols-[24px_1fr_auto] items-center gap-6 rounded-lg p-4 ring-1 ring-transparent hover:bg-slate-100"
              >
                <i class="fa-brands fa-cc-visa text-xl font-semibold"></i>
                Credit Card
                <input
                  id="credit-card"
                  value="credit-card"
                  type="radio"
                  class="box-content h-1.5 w-1.5 appearance-none rounded-full border-[5px] border-white bg-white bg-clip-padding outline-none ring-1 ring-gray-950/10 checked:border-indigo-500 checked:ring-indigo-500"
                  formControlName="paymentMethod"
                />
              </label>
            </div>
          </fieldset>
          <button
            class="w-full bg-[#2e86f1] p-2 rounded-xl text-white mt-4 text-xl"
            type="submit"
          >
            Đặt hàng
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
