<p class="capitalize text-xl px-4 font-semibold">Lịch Sử Mua hàng</p>
<table class="border-collapse table-auto w-full text-sm">
  <thead>
    <tr class="h-10">
      <th class="max-md:hidden">STT</th>
      <th>Mã đơn hàng</th>
      <th>Ngày đặt</th>
      <th>Trạng thái</th>
      <th>Thao tác</th>
      <th>Hủy đơn</th>
    </tr>
  </thead>
  <tbody class="text-center">
    @for(item of orderHistoryList; track $index){
    <tr class="h-10">
      <td class="border-b border-slate-100 p-4 max-md:hidden">
        {{ $index + 1 }}
      </td>
      <td class="border-b border-slate-100 p-4">{{ item.code }}</td>
      <td class="border-b border-slate-100 p-4">{{ item.date }}</td>
      <td class="border-b border-slate-100 p-4">
        <span
          class="p-2 rounded-2xl font-semibold truncate"
          [ngClass]="
            item.status === 0
              ? 'bg-yellow-100 text-orange-500'
              : item.status === 1
              ? 'bg-green-100 text-green-400'
              : item.status === 2
              ? 'bg-red-100 text-red-500'
              : 'bg-blue-100 text-blue-500'
          "
        >
          {{
            item.status === 0
              ? "Đang Chờ xử lí"
              : item.status === 1
              ? "Đã xác nhận"
              : item.status === 2
              ? "Đã hủy"
              : "Đang vận chuyển"
          }}</span
        >
      </td>
      <td class="border-b border-slate-100 p-2">
        <a [routerLink]="['/profile', item.code, 'order-detail']">
          <i class="fa-solid fa-eye bg-blue-400 p-2 rounded-xl text-white"></i
        ></a>
      </td>
      <td class="border-b border-slate-100 p-2">
        <button
          (click)="cancelOrder(item.code)"
          class="fa-solid fa-trash bg-red-400 p-2 rounded-xl text-white cursor-pointer"
          [disabled]="item.status === 1 || item.status === 2"
        ></button>
      </td>
    </tr>
    }
  </tbody>
</table>
