<section
  class="max-w-[1300px] mx-auto mt-4 max-xl:p-2 transition-all duration-200 ease-linear"
>
  <div class="w-full h-[500px] rounded-2xl max-sm:p-4">
    <img
      [src]="urlImage.bannerHome"
      alt=""
      class="h-full w-full object-cover rounded-2xl"
    />
  </div>
  <div class="mt-4 grid sm:flex w-full gap-2 max-sm:p-4 max-md:grid">
    <div>
      <img [src]="urlImage.bannerChild" alt="" class="rounded-2xl" />
    </div>
    <div class="grid w-full grid-cols-auto-layout gap-4">
      <div class="bg-slate-100 rounded-2xl">
        <i class="bx bx-package text-5xl text-center block mt-6 p-4"></i>
        <p class="pl-4 pr-4 text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
        </p>
      </div>

      <div class="bg-slate-100 rounded-2xl">
        <i class="bx bx-award text-5xl text-center block mt-6 p-4"></i>
        <p class="pl-4 pr-4 text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
        </p>
      </div>
      <div class="bg-slate-100 rounded-2xl">
        <i
          class="bx bx-objects-vertical-bottom text-5xl text-center block mt-6 p-4"
        ></i>
        <p class="pl-4 pr-4 text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
        </p>
      </div>
    </div>
  </div>
</section>
