<div class="w-full">
  <button
    class="p-3 bg-blue-400 rounded-xl text-white mb-4 mt-4 float-right mr-4 font-semibold"
    (click)="showToastAdd()"
  >
    Thêm sản phẩm
  </button>
  <div class="md:p-4">
    <table class="w-full text-center shadow shadow-slate-100 rounded-xl">
      <thead>
        <tr>
          <th class="p-3 border-b-2">Hình ảnh</th>
          <th class="p-3 border-b-2">Tên SP</th>
          <th class="p-3 border-b-2">Đã bán</th>
          <th class="p-3 border-b-2">Ngày nhập</th>
          <th class="p-3 border-b-2 max-md:hidden">Số lượng Nhập</th>
          <th class="p-3 border-b-2">Giá</th>
          <th class="p-3 border-b-2">Danh mục</th>
          <th class="p-3 border-b-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of displayedProducts">
          <td class="p-2 font-medium">
            <img
              [src]="product.image"
              alt=""
              class="max-w-10 text-center inline-block"
            />
          </td>
          <td
            class="p-2 font-medium max-w-16 text-ellipsis overflow-hidden text-nowrap"
          >
            {{ product.name }}
          </td>
          <td class="p-2 font-medium">{{ product.quantity_sold }}</td>
          <td class="p-2 font-medium max-md:hidden">{{ product.createdAt }}</td>
          <td class="p-2 font-medium">{{ product.quantityImported }}</td>
          <td class="p-2 font-medium">{{ product.price }} đ</td>
          <td class="p-2">
            {{
              product.category === 1
                ? "Bàn phím cơ"
                : product.category === 2
                ? "Mouse"
                : product.category === 3
                ? "Lót chuột"
                : product.category === 4
                ? "Phụ kiện khác"
                : "Lỗi"
            }}
          </td>
          <td class="p-2">
            <button
              (click)="editProduct(product._id)"
              class="p-2 font-semibold"
            >
              <i class="bx bx-edit"></i> Edit
            </button>
            <button
              (click)="deleteProduct(product._id)"
              class="p-2 font-semibold bg-red-400 rounded-xl text-white ml-2"
            >
              <i class="bx bx-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      *ngIf="displayedProducts.length < products.length"
      class="flex justify-center mt-4"
    >
      <button
        class="p-2 bg-blue-400 text-white rounded-xl"
        (click)="loadMoreProducts()"
      >
        xem thêm
      </button>
    </div>
  </div>
  <div
    class="w-[600px] p-4 rounded-xl fixed left-[50%] top-[50%] transform translate-x-[-50%] translate-y-[-50%] transition-all duration-300 ease-in-out"
  >
    <div class="hidden" #form_add>
      <app-add-product
        [categories]="categories"
        (formAddSubmit)="addProduct($event)"
      ></app-add-product>
    </div>
    <form
      class="w-full hidden bg-slate-200 p-5 rounded-xl transition-all duration-300 ease-in-out"
      [formGroup]="productFormUpdate"
      (ngSubmit)="updateProduct()"
      #form_edit
    >
      <label for="">Tên sản phẩm</label>
      <input
        type="text"
        class="p-2 rounded-xl w-full mb-2 outline-none"
        placeholder="Nhập tên sản phẩm"
        formControlName="name"
      />
      <label for="">Nhập giá</label>
      <input
        type="text"
        placeholder="Nhập giá "
        class="p-2 rounded-xl w-full mb-2 outline-none"
        formControlName="price"
      />
      <label for="">Nhập Mô tả</label>
      <input
        type="text"
        placeholder="Nhập Mô tả "
        class="p-2 rounded-xl w-full mb-2 outline-none"
        formControlName="description"
      />
      <label for="">Nhập tiêu đề 1</label>
      <input
        type="text"
        placeholder="Nhập Tiêu đề 1 "
        class="p-2 rounded-xl w-full mb-2 outline-none"
        formControlName="title_description_1"
      />
      <label for="">Nhập tiêu đề 2</label>
      <input
        type="text"
        placeholder="Nhập Tiêu đề 2"
        class="p-2 rounded-xl w-full mb-2 outline-none"
        formControlName="title_description_2"
      />
      <label for="">Chọn danh mục</label>
      <select
        name=""
        id=""
        class="p-2 rounded-xl w-full mb-2 outline-none"
        formControlName="category"
      >
        <option value="">Chọn danh mục</option>
        <option *ngFor="let item of categories" [value]="item.category_id">
          {{ item.category_name }}
        </option>
      </select>
      <label for="">Hình ảnh</label>
      <input
        type="text"
        class="p-2 rounded-xl w-full mb-2 outline-none"
        placeholder="Nhập hình ảnh"
        formControlName="image"
      />
      <button
        class="p-2 bg-blue-400 text-white rounded-xl w-full cursor-pointer mt-4 font-semibold"
        type="submit"
        [disabled]="!productFormUpdate.valid"
      >
        Cập nhật sản phẩm
      </button>
    </form>
  </div>
</div>
